*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'Merienda', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
:root { 
  --button-color: rgb(26, 96, 101);
  --button-background-color: rgb(85, 151, 169);
}
/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */
.btn{
  background-color: darkcyan !important;
  /* color: var(--button-color); */
  /* background-color: var(--button-background-color); */
  /* border-radius: var(--border-radius); */
}
.custom-bg:hover{
  background-color: cadetblue;
}
.availability-form{
  margin-top: -50px;
  z-index: 2;
  position: relative;
}
/* body{
  background-color: #cbc3b7
} */
.container{
  position: relative
}
.book-bg{
  background-color: rgb(26, 96, 101);
}
.book-bg:hover{
  background-color: rgb(12, 91, 94);
}

/* .btn-primary{
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
}
btn text-dark shadow  */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

