:root{
    --pink: #0f7da4;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

#bg {
    position: fixed;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    }
    
#bg img {
    position:absolute;
    top:25%;left:25%; 
    right:25%;bottom:25%;
    margin:auto; 
    min-width:50%;
    min-height:50%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#1f1e1e;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#efe6e6;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#afa7a7;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#fff;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

body {
    overflow: hidden;
    background:#ac1212;
}

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

section .colour {
    position: absolute;
    filter: blur(150px);
}

body {
    overflow: hidden;
    background:#eb8410;
}



.container {
    width: 400px;
    display: flex;
    min-height: 400px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(9, 9, 9, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(71, 66, 66, 0.2);
    border-right: 1px solid rgba(71, 66, 66, 0.2);
    border-bottom: 1px solid rgba(71, 66, 66, 0.2);
}

.form {
    font-size: 13px;
    color:white;
    width: 100%;
    height: 100%;
    padding: 40px;
    position: relative;
}

.form h2 {
    color: #121212;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before {
    left: 0;
    width: 80px;
    height: 4px;
    content: "";
    bottom: -10px;
    background: #fff;
    position: absolute;
}

.form .input__box {
    width: 100%;
    margin-top: 20px;
}

.form .input__box input {
    width: 100%;
    color: #0f0f0f;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 35px;
    background: rgba(18, 17, 17, 0.2);
    border: 1px solid rgba(25, 24, 24, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(18, 18, 18, 0.2);
    border-bottom: 1px solid rgba(21, 20, 20, 0.2);
}


.form::placeholder {
    color: #121212;
}

.form .input__box input[type="submit"] {
    color: #121212;
    cursor: pointer;
    background:#fff;
    max-width: 100px;
    font-weight: 600;
    margin-bottom: 20px;
}
